@model IEnumerable<HotelManagement.ViewModel.RoomDetailViewModel>

<table style="width: 100%">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Room Image
            </th>
            <th>
                Room Number
            </th>
            <th>
                Room Price
            </th>
            <th>
                Booking Status
            </th>
            <th>
                Room Type
            </th>
            <th>
                Room Capacity
            </th>
            <th>
                Room Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>

                <td>
                </td>

                <td>
                    <img src="@Url.Content("/RoomImages/" + item.RoomImage)" width="30" height="30" class="img-responsive" />
                </td>

                <td>
                    @item.RoomNumber
                </td>

                <td>
                    @item.RoomPrice
                </td>

                <td>
                    @item.BookingStatus
                </td>

                <td>
                    @item.RoomType
                </td>

                <td>
                    @item.RoomCapacity
                </td>

                <td>
                    @item.RoomDescription
                </td>
            </tr>
        }
    </tbody>
</table>
